
:root {
    --primary: #FFB900; 
   --secondary: #FD5A14; 
   --tertiary: #FB2A25; 
   --black: rgb(10, 10, 10); 
   --white: rgba(242, 242, 242, 1); 
   --dark: #580726;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Bebas Neue', cursive;
    color: var(--tertiary);
    background-color: var(--dark);
    line-height: 2;
    
}
header{
        padding: 15px 6% 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--black);
        box-shadow: 0 5px 50px var(--black);
        position: sticky;
        width: 100%;
        height: 8%;
        margin-bottom: 20px;
    }
    header h1{
        font-family:'Bebas Neue', cursive;
    }
    img{
      max-width: 100%;
      height: 100px;
      padding-left: 20px;
    }

main{
    background-color: var(--black);
    width:75%;
    align-items:stretch ;
    border-radius: 12px;
    margin:10px;
    
}
header h1{
    color: var(--primary);
    background-color: var(--black);
    padding: 5px 1% 5px 5%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}
    nav a:hover {
        color: var(--primary);
        cursor: pointer;
}
nav a {
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    padding: 5px 20px;
    color: var(--white);
    margin-right: 10px;
    font-size: 1.6rem;
}

nav a {
    position: relative;
  }
  
  nav a::before, nav a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--tertiary);
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  nav a::before {
    top: 0;
    transform-origin: center right;
  }
  
  nav a:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
  
  nav a::after {
    bottom: 0;
    transform-origin: center left;
  }
  
  nav a:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }
  .search{
      margin: 5px 10px;
      padding: 5px;
  }
  .title{
    padding-left: 30px;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 50px 3px 2px;
    display: inline-block;
    border: 3px groove var(--white);
    border-radius: 5px;
    box-sizing: border-box;
  }
  .boxes{
    padding-left: 30px;
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    display: inline-block;
    border: 3px groove var(--white);
    border-radius: 4px;
    box-sizing: border-box;
    color:var(--white);
  }
  #input-movie {
    width: 100%;
    background-color: #7F7F7F;
  }
  ::placeholder {
    color: var(--white);
    opacity: 1; 
  }
  #start{
width: 100%;
background-color: #7F7F7F;
  }
 #genre{
     width:100%;
     background-color: #7F7F7F;
 }
 input[type=submit]{
    display: inline-block;
    position: relative;
    color: var(--white);
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
 }
 input[type=submit]:hover {
    background-color: var(--secondary);
    transition: .5s;
  }
  input[type=submit]:active {
    box-shadow: 0 3px 0 var(--white);
    top: 3px;
    }
    #favotites{
    background-color: var(--black);
    }
    aside {
    height: 100%;
    width: 22%;
    position: absolute;
    top: 12%;
    right: 0;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    border: 3px groove var(--white);
    }
    aside h2{
   text-align: center;
    color: var(--primary);
    }
    
  .button{
    display: inline-block;
    position: relative;
    color: var(--white);
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
  }

  .button:hover{
    background: var(--secondary);
  }

  .modal{
    display: none;
    position: fixed;
    z-index:1;
    left: 0; 
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(88,7,38,.6);
  }

  .modal-content{
    background-color: var(--black);
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;

  }

  .closeBtn{
    color: var(--white);
    float: right;
    font-size: 30px;
  }

  .closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes modalopen{
    from{opacity: 0}
    to{opacity: 1}
  }